canvas#demo-canvas {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1; /* Поместите canvas за все другие элементы */
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

@media only screen and (max-width: 992px){
    canvas#demo-canvas {
        opacity: 0;
    }
}