<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cs2.css') }}">
</head>
<body>
    {% extends "base.html" %}
    <!-- Начало блока контента -->
    {% block content %}

    <form class="config_box" id="config-form">
        <div class="box_1">
            <div class="screen_size">
                <label for="cs2_screen_width">CS2 Screen Width:</label>
                <input class="input_box" type="number" id="cs2_screen_width" name="cs2_screen_width">
                <label for="cs2_screen_height">CS2 Screen Height:</label>
                <input class="input_box" type="number" id="cs2_screen_height" name="cs2_screen_height">
            </div>

            <div class="fov_size">
                <label for="cs2_fov_width">CS2 FOV Width:</label>
                <input class="input_box" type="number" id="cs2_fov_width" name="cs2_fov_width">
                <label for="cs2_fov_height">CS2 FOV Height:</label>
                <input class="input_box" type="number" id="cs2_fov_height" name="cs2_fov_height">
            </div>

            <div class="all_color">
                <div class="color_box">
                    <label for="cs2_box_color">CS2 Box Color:</label>
                    <select class="input_box" id="cs2_draw_box_valid" name="cs2_draw_box_valid">
                        <option value="true">TRUE</option>
                        <option value="false">FALSE</option>
                    </select>
                    <input class="input_box" type="color" id="cs2_box_color" name="cs2_box_color">
                </div>

                <div class="color_box">
                    <label for="cs2_fov_color">CS2 FOV Color:</label>
                    <select class="input_box" id="cs2_draw_fov_valid" name="cs2_draw_fov_valid">
                        <option value="true">TRUE</option>
                        <option value="false">FALSE</option>
                    </select>
                    <input class="input_box" type="color" id="cs2_fov_color" name="cs2_fov_color">
                </div>

                <div class="color_box">
                    <label for="cs2_fps_color">CS2 FPS Color:</label>
                    <select class="input_box" id="cs2_draw_fps_valid" name="cs2_draw_fps_valid">
                        <option value="true">TRUE</option>
                        <option value="false">FALSE</option>
                    </select>
                    <input class="input_box" type="color" id="cs2_fps_color" name="cs2_fps_color">
                </div>
            </div>
        </div>

        <div class="box_2">
            <div class="all_aim">
                <label for="cs2_aim_step">CS2 Aim Step:</label>
                <input class="input_box" type="number" id="cs2_aim_step" name="cs2_aim_step">
                <label for="cs2_aim_time_sleep">CS2 Aim Time Sleep:</label>
                <input class="input_box" type="number" step="0.001" id="cs2_aim_time_sleep" name="cs2_aim_time_sleep">
                <label for="cs2_aim_target">CS2 Aim Target:</label>
                <input class="input_box" type="number" step="0.01" id="cs2_aim_target" name="cs2_aim_target">
            </div>

            <div class="detection_box">
                <label for="cs2_obj_detection">CS2 Object Detection:</label>
                <select class="input_box" id="cs2_obj_detection" name="cs2_obj_detection">
                    <option value="[0]">CT</option>
                    <option value="[1]">T</option>
                    <option value="[0,1]">CT, T</option>
                </select>
            </div>
        </div>
        <div class="box_3">
            <div class="all_macros">
                <label for="cs2_macros_gun">CS2 Macros Gun:</label>
                <select class="input_box" id="cs2_macros_gun" name="cs2_macros_gun">
                    <option value="ak_47">AK-47</option>
                </select>

                <label for="cs2_macros_ak_47_adjustment">CS2 Macros AK-47 Adjustment:</label>
                <input class="input_box" type="number" step="0.01" id="cs2_macros_ak_47_adjustment" name="cs2_macros_ak_47_adjustment">
            </div>
        </div>
    </form>
</body>
<script>
    // Функция работает асинхронно, то есть не занимает поток для других задач
    async function loadConfig() {
        // Отправляет запрос на /get_config в Python коде
        const response = await fetch('/get_config');
        // Принимает ответ от Python части
        const config = await response.json();

        // Назначает каждому объекту страницы с конкретным id значение из полученного от Python ответа в котором
        // находится ключ с таким же названием как и id объекта на странице
        document.getElementById('game').value = config.game || '';

        document.getElementById('cs2_screen_width').value = config.cs2_screen_width || '';
        document.getElementById('cs2_screen_height').value = config.cs2_screen_height || '';

        document.getElementById('cs2_fov_width').value = config.cs2_fov_width || '';
        document.getElementById('cs2_fov_height').value = config.cs2_fov_height || '';

        document.getElementById('cs2_aim_step').value = config.cs2_aim_step || '';
        document.getElementById('cs2_aim_time_sleep').value = config.cs2_aim_time_sleep || '';
        document.getElementById('cs2_aim_target').value = config.cs2_aim_target || '';

        // Конвертирование полученных данных в строку (cs2_obj_detection в конфиге это массив а на странице нужна строка)
        document.getElementById('cs2_obj_detection').value = JSON.stringify(config.cs2_obj_detection || []);

        document.getElementById('cs2_macros_gun').value = config.cs2_macros_gun || '';
        document.getElementById('cs2_macros_ak_47_adjustment').value = config.cs2_macros_ak_47_adjustment || '';

        document.getElementById('cs2_draw_box_valid').value = config.cs2_draw_box_valid ? 'true' : 'false';
         // Загружаем значение цвета в HEX формате
        const cs2_boxColor = rgbToHex(config.cs2_box_color.r, config.cs2_box_color.g, config.cs2_box_color.b);
        document.getElementById('cs2_box_color').value = cs2_boxColor;

        document.getElementById('cs2_draw_fov_valid').value = config.cs2_draw_fov_valid ? 'true' : 'false';
         // Загружаем значение цвета в HEX формате
        const cs2_fovColor = rgbToHex(config.cs2_fov_color.r, config.cs2_fov_color.g, config.cs2_fov_color.b);
        document.getElementById('cs2_fov_color').value = cs2_fovColor;

        document.getElementById('cs2_draw_fps_valid').value = config.cs2_draw_fps_valid ? 'true' : 'false';
         // Загружаем значение цвета в HEX формате
        const cs2_fpsColor = rgbToHex(config.cs2_fps_color.r, config.cs2_fps_color.g, config.cs2_fps_color.b);
        document.getElementById('cs2_fps_color').value = cs2_fpsColor;
    }

    async function updateConfig() {
        // Создается javascript объект с названием data
        const data = {
            // В конкретные ключи назначаются значения из объектов на странице с конкретным id
            game: document.getElementById('game').value,

            cs2_screen_width: document.getElementById('cs2_screen_width').value,
            cs2_screen_height: document.getElementById('cs2_screen_height').value,

            cs2_fov_width: document.getElementById('cs2_fov_width').value,
            cs2_fov_height: document.getElementById('cs2_fov_height').value,

            cs2_aim_step: document.getElementById('cs2_aim_step').value,
            cs2_aim_time_sleep: document.getElementById('cs2_aim_time_sleep').value,
            cs2_aim_target: document.getElementById('cs2_aim_target').value,


            // Преобразование значения из объекта в массив, что бы в конфиге в дальнейшем записалось что-то такое: [0,1]
            cs2_obj_detection: JSON.parse(document.getElementById('cs2_obj_detection').value),

            cs2_macros_gun: document.getElementById('cs2_macros_gun').value,
            cs2_macros_ak_47_adjustment: document.getElementById('cs2_macros_ak_47_adjustment').value,

            cs2_draw_box_valid: document.getElementById('cs2_draw_box_valid').value === 'true',
            // Преобразуем цвет обратно в RGB формат
            cs2_box_color: hexToRgb(document.getElementById('cs2_box_color').value),

            cs2_draw_fov_valid: document.getElementById('cs2_draw_fov_valid').value === 'true',
            // Преобразуем цвет обратно в RGB формат
            cs2_fov_color: hexToRgb(document.getElementById('cs2_fov_color').value),

            cs2_draw_fps_valid: document.getElementById('cs2_draw_fps_valid').value === 'true',
            // Преобразуем цвет обратно в RGB формат
            cs2_fps_color: hexToRgb(document.getElementById('cs2_fps_color').value),
        };

        await fetch('/update_config', {
            // Указываем, что это запрос типа POST, то есть мы отправляем данные
            method: 'POST',
            headers: {
                // Указываем, что данные отправляются в формате JSON
                'Content-Type': 'application/json'
            },
            // Тело запроса (данные, которые мы отправляем)
            // JSON.stringify преобразует JavaScript объект 'data' в строку формата JSON
            body: JSON.stringify(data)
        });
    }

    // DOMContentLoaded означает что код будет запускаться при открытии страницы
    document.addEventListener("DOMContentLoaded", function() {
        // Вызывается функция loadConfig() из js
        loadConfig();

        // Берет id объекта config-form и записывает его в переменную form
        const form = document.getElementById("config-form");
        const formGame = document.getElementById("config-form_game");
        // Вызывает ивент который будет срабатывать при взаимодействии с объектом input находящимся в объекте id
        // которого хранится в переменной form, если произошло взаимодействие, будет вызываться функция updateConfig из js
        form.addEventListener('input', updateConfig);
        // Вызывает ивент для config_form_game
        formGame.addEventListener('input', updateConfig);
    });

    // Функция для преобразования RGB в HEX
    function rgbToHex(r, g, b) {
        return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1).toUpperCase();
    }

    // Функция для преобразования HEX в RGB
    function hexToRgb(hex) {
        const bigint = parseInt(hex.slice(1), 16);
        return {
            r: (bigint >> 16) & 255,
            g: (bigint >> 8) & 255,
            b: bigint & 255
        };
    }
</script>
    <!-- Конец блока контента -->
    {% endblock %}
</html>
